// Import fonts from Google Fonts. Override bs default variables
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
$font-family-sans-serif: Nunito, sans-serif;

// Import Bootstrap Styles
@import "../../node_modules/bootstrap/scss/bootstrap";

#root {
  z-index: 1;
  position: relative;
}

#modal {
  z-index: 2;
  position: relative;
}

// Your own CSS rules
.sidebarElements.active,
.sidebarElements:hover {
  background-color: var(--bs-primary);
}
.btn-light-green {
  background: #40d2bf;
  color: white;
  border-color: #40d2bf;
}

.btn-light-green:hover {
  background: #39cab7;
  color: white;
  border-color: #39bdab;
}

.bg-dark-purple {
  background: #042235;
}
.sidebarElements svg,
.sidebarElements svg {
  opacity: 0.3;
}

.sidebarElements.active svg,
.sidebarElements:hover svg {
  opacity: 1;
}

.team-card.archived {
  background: #ebeef2;
}

.card-description-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card-date-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  opacity: 0.2;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  opacity: 0.2;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
  opacity: 0.2;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
  opacity: 0.2;
}

.tabs-underline {
  transition: all 0.5s;
  bottom: 0;
}

// Modal Overlay
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cssT-modal-overlay-enter {
  background-color: rgba(0, 0, 0, 0);
}

.cssT-modal-overlay-enter-active {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s;
}

.cssT-modal-overlay-enter-done {
  background-color: rgba(0, 0, 0, 0.7);
}

.cssT-modal-overlay-exit {
  background-color: rgba(0, 0, 0, 0.7);
}

.cssT-modal-overlay-exit-active {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}

// Dialog box
.modal-dialog-box {
  position: fixed;
  padding: 50px;
  background-color: white;
}

.cssT-modal-dialog-box-enter {
  opacity: 0.3;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) scale(0.1);
}

.cssT-modal-dialog-box-enter-active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.3s;
}

.cssT-modal-dialog-box-enter-done {
  opacity: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
}

.cssT-modal-dialog-box-exit {
  opacity: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
}

.cssT-modal-dialog-box-exit-active {
  opacity: 0.3;
  top: 0;
  right: 0;
  transform: translate(50%, -50%) scale(0.1);
  transition: all 0.3s;
}

// Dropdown animations
.cssT-dropdown-grow-enter {
  max-height: 0;
}

.cssT-dropdown-grow-enter-active {
  max-height: 500px;
  transition: all 0.3s;
}

.cssT-dropdown-grow-enter-done {
  max-height: 500px;
}

.cssT-dropdown-grow-exit {
  max-height: 500px;
}

.cssT-dropdown-grow-exit-active {
  max-height: 0;
  transition: all 0.3s;
}
